<div class=" register">
  <div class="row pt-4">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
      <h3>Welcome</h3>
      <p class="text-left">Pretty Call is portal created with the aim of facilitating the planning of coaching sessions. The platform
        provides the functionalities needed for efficient planning of such sessions, as well as a procedural integration
        with Veeva Engage and a process allowing coaches to provide their feedbacks!</p>
    </div>
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="coachee-tab" data-toggle="tab" href="#coachee" role="tab" aria-controls="coachee"
            aria-selected="true">Coachee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="coach-tab" data-toggle="tab" href="#coach" role="tab" aria-controls="coach"
            aria-selected="false">Coach</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="admin-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="admin"
            aria-selected="false">Admin</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="coachee" role="tabpanel" aria-labelledby="coachee-tab">
          <h3 class="register-heading">Apply as a Coahee</h3>
          <div class="row register-form d-flex justify-content-center">
            <div class="col-md-8">
              <form method="POST" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-group ">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" placeholder="example@gmail.com" title="Please enter you mail" name="mail"
                    id="mail" class="form-control" formControlName="email">
                  <div class="alert alert-danger" *ngIf="f.email.touched && f.email.invalid">
                    <div *ngIf="f.email.errors.required">please put email</div>
                    <div *ngIf="f.password.errors.pattern">insert a complicated password</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Password</label>
                  <input type="password" title="Please enter your password" placeholder="********" name="password"
                    id="password" class="form-control" formControlName="password">
                  <div class="alert alert-danger" *ngIf="f.password.touched && f.password.invalid">
                    <div *ngIf="f.password.errors.required">please put password</div>
                    <div *ngIf="f.password.errors.pattern">insert a complicated password</div>
                  </div>
                </div>
                <div class="form-group ">
                  <input type="submit" [disabled]="!loginForm.valid" class="btnRegister" value="Register" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="coach" role="tabpanel" aria-labelledby="coach-tab">
          <h3 class="register-heading">Apply as a Coach</h3>
          <div class="row register-form d-flex justify-content-center">
            <div class="col-md-8">
              <form method="POST" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-group ">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" placeholder="example@gmail.com" title="Please enter you mail" name="mail"
                    id="mail" class="form-control" formControlName="email">
                  <div class="alert alert-danger" *ngIf="f.email.touched && f.email.invalid">
                    <div *ngIf="f.email.errors.required">please put email</div>
                    <div *ngIf="f.password.errors.pattern">insert a complicated password</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Password</label>
                  <input type="password" title="Please enter your password" placeholder="********" name="password"
                    id="password" class="form-control" formControlName="password">
                  <div class="alert alert-danger" *ngIf="f.password.touched && f.password.invalid">
                    <div *ngIf="f.password.errors.required">please put password</div>
                    <div *ngIf="f.password.errors.pattern">insert a complicated password</div>
                  </div>
                </div>
                <div class="form-group ">
                  <input type="submit" [disabled]="!loginForm.valid" class="btnRegister" value="Register" />
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane fade show" id="admin" role="tabpanel" aria-labelledby="admin-tab">
          <h3 class="register-heading">Apply as a Admin</h3>
          <div class="row register-form d-flex justify-content-center">
            <div class="col-md-8">
              <form method="POST" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <div class="form-group ">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" placeholder="example@gmail.com" title="Please enter you mail" name="mail"
                    id="mail" class="form-control" formControlName="email">
                  <div class="alert alert-danger" *ngIf="f.email.touched && f.email.invalid">
                    <div *ngIf="f.email.errors.required">please put email</div>
                    <div *ngIf="f.password.errors.pattern">insert a complicated password</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Password</label>
                  <input type="password" title="Please enter your password" placeholder="********" name="password"
                    id="password" class="form-control" formControlName="password">
                  <div class="alert alert-danger" *ngIf="f.password.touched && f.password.invalid">
                    <div *ngIf="f.password.errors.required">please put password</div>
                    <div *ngIf="f.password.errors.pattern">insert a complicated password</div>
                  </div>
                </div>
                <div class="form-group ">
                  <input type="submit" [disabled]="!loginForm.valid" class="btnRegister" value="Register" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>