<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span
                        class="d-none d-md-inline-block">info@yourdomain.com</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">+
                        (212) 65678 9101</span></a>


                <div class="float-right">

                    <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span
                            class="d-none d-md-inline-block">Twitter</span></a>
                    <span class="mx-md-2 d-inline-block"></span>
                    <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span
                            class="d-none d-md-inline-block">Facebook</span></a>

                </div>

            </div>

        </div>

    </div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target border-bottom" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">


            <div class="site-logo">
                <a href="index.html" ><span class="textLogo">NextCall</span></a>
            </div>

            <div class="col-12">
                <nav class="site-navigation text-right ml-auto " role="navigation">

                    <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                        <li><a href="#home-section" class="nav-link">Home</a></li>
                        <li><a href="#services-section" class="nav-link">Services</a></li>


                        <li class="has-children">
                            <a href="#about-section" class="nav-link">About Us</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="#team-section" class="nav-link">Team</a></li>
                                <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                                <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                                <li class="has-children">
                                    <a href="#">More Links</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Menu One</a></li>
                                        <li><a href="#">Menu Two</a></li>
                                        <li><a href="#">Menu Three</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li><a href="#why-us-section" class="nav-link">Why Us</a></li>

                        <li><a href="#contact-section" class="nav-link">Contact</a></li>
                        <li><a href="#" class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>

                    </ul>
                </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#"
                    class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>

<!-- Hero Section -->
<section id="hero" class="hero section">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">We offer modern solutions to enhance your health.</h1>
                <p data-aos="fade-up" data-aos-delay="100">Empowering your wellness with personalized, modern healthcare
                    solutions tailored to your needs.</p>
                <div class="d-flex flex-column flex-md-row" data-aos="fade-up" data-aos-delay="200">
                    <a href="#" routerLink="/login" routerLinkActive="active" class="btn-get-started ">Get Started <i class="bi bi-arrow-right"></i></a>

                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="https://bootstrapmade.com/content/demo/FlexStart/assets/img/hero-img.png"
                    class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>
<!-- 
<footer id="sticky-footer" class="flex-shrink-0 py-4  mt-5 text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; NEXTCALL</small>
    </div>
</footer> -->