<div class="d-flex flex-warp mt-5">
    <div class="col-md-5 mt-5">
        <h2>Program description</h2>
        <p>En poursuivant la navigation, vous acceptez que nos partenaires et nous-mêmes utilisons des cookies ou une technologie équivalente pour stocker et/ou accéder à des informations sur votre appareil.

            Ces informations personnelles (comme vos données de navigation et votre adresse IP) peuvent être utilisées pour vous présenter des publicités et du contenu personnalisés; pour mesurer la performance publicitaire et du contenu, et en apprendre plus sur leur audience; pour développer et améliorer les produits de nos partenaires.
            
            Vous pouvez paramétrer vos choix pour accepter les cookies ou non, ou vous y opposer lorsque l’intérêt légitime est utilisé.
            Vous pourrez également modifier vos préférences à tout moment en cliquant sur le lien "Paramètres des cookies" en bas de page de ce site.
            Pour en savoir plus, consultez notre politique de confidentialité.</p>
    </div>

    <div class="col-md-7 mt-5">
        <img src="https://image.freepik.com/free-vector/man-with-tablet-little-schoolgirl_107791-1187.jpg" alt="">
    </div>
</div>